PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=skls_website
CONTACT_COLLECTION=contact_inquiries
ALLOWED_ORIGIN=http://localhost:3000
